/* style.css */

/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* REUSABLE COMPONENTS */

.row {
    max-width: 1140px;
    /* Center in the row */
    margin: auto;
}

/* HEADINGS */

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 240%;    /* Because it's a responsive design, make everything relative. This means it is 40px */
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

/* BUTTONS */

.btn:link, 
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    
}

/* Use a special styling when hovering/active */
.btn:hover,
.btn:active {
    color: #de7519;
    
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #fff;
}


/* HEADER */
header {
    /* the gradient puts a solid colour behind there, but with transparency to give us the desired effect */
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(img/hero.jpg);
    /* see the whole image */
    background-size: cover;
    background-position: center;
    /* make sure the whole image appears */
    height: 100vh;    /* 100 % of the viewport - this is a trick */
}

.hero-text-box {
    /* need to center it */
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    /* Trick part of centering it. Means to account for the height and width of the item now. */
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;    /* get rid of bullet points */
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;    /* relative to the font size of 20px */
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0px;    
}

.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    
}


